RewriteEngine On

# Redirection vers la page d'accueil
RewriteRule ^$ public/index.php?controller=home&action=index [QSA,L]

# Redirection pour les autres contrôleurs et actions
RewriteRule ^([^/]+)/?$ public/index.php?controller=$1&action=index [QSA,L]
RewriteRule ^([^/]+)/([^/]+)/?$ public/index.php?controller=$1&action=$2 [QSA,L]